<% if current_user.id.to_i == params[:user_id].to_i %>
  <table class="schedule">
    <tr>
      <td></td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
      <td>Sunday</td>
    </tr>
    <% 0.upto(23).each do |hour| %>
      <tr>
        <td><%= format("%02d:00", hour) %></td>
        <% 1.upto(7).each do |day| %>
          <td id='schedule_<%= day %>_<%= hour %>' class="<%= 'active' if current_user.works_for?(week_day: day, hour: hour) %>">
            <%= render partial: 'schedules/form', locals: { schedule: current_user.schedule_for(week_day: day, hour: hour) } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>