<% if @owner %>
  <% days = appointments_week_days(@page) %>
  <table id="table" class="schedule">
    <tr>
      <td></td>
      <% days.each do |day| %>
        <td>
          <%= l(day, format: "%^a %e %b") %>
        </td>
      <% end %>
    </tr>
    <% 0.upto(23).each do |hour| %>
      <tr>
        <td><%= format("%02d:00", hour) %></td>
        <%# OPCIÓ LENTA PERÒ MOLONA %>
        <%#= render partial: 'appointments/day', collection: days, locals: { owner: @owner, caller: current_user, hour: hour } %>
        
        <%# OPCIÓ RÀPIDA %>
        <% days.each do |day| %>
          <td id='schedule_<%= day.wday %>_<%= hour %>' class="<%= appointments_schedule_class(owner: @owner, caller: current_user, date: DateTime.new(day.year, day.month, day.day, hour)) %>">
            <% appointment = current_user.appointment_for(owner: @owner, date: DateTime.new(day.year, day.month, day.day, hour)) %>
            <%= form_with model: [appointment.owner, appointment] do |f| %>
              <%= f.hidden_field :owner_id %>
              <%= f.hidden_field :caller_id %>
              <%= f.hidden_field :date %>
              <%= f.submit appointment_name_to_show(appointment: appointment).to_s unless appointment.new_record? && appointment.owner == current_user %>
            <% end %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </table>
  <% 1.upto(4).each do |page| %>
    <%= link_to page, url_for(params.permit!.merge(page: page)), remote: params[:action] != 'index', class: "#{'active' if page == @page}" %>
  <% end %>
<% end %>